<a href="https://colab.research.google.com/github/wilsongutierrez-01/ProgramacionPython/blob/main/Conversores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional III")

Hola Mundo Bienvenidos a Programacion Computacional III

In [ ]:
print("Luis Hernandez")

Luis Hernandez

In [ ]:
nombre = "Luis Hernandez"
print("Hola", nombre, nombre[5], type(nombre))

nombre = 25
print("Tu edad es: ", type(nombre))

Hola Luis Hernandez H <class 'str'>
Tu edad es:  <class 'int'>

In [ ]:
programacion = True
diseno = False
print("Te gusta Progra", programacion, "Te gusta diseño", diseno, type(programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [ ]:
edad = int(input("Dime tu edad: "))
if edad>=18: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes responsabilidades...")
else:
  print("Eres libre")

Dime tu edad: 20
Eres un adulto, tienes responsabilidades...

In [ ]:
def sumaDosNumeros(num1, num2):
  resp = num1 + num2
  return resp
print( "La suma: ", sumaDosNumeros(2,5) )

La suma:  7

In [ ]:
#funciones anonimas... 
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [ ]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [ ]:
def cuadrado(num):
  return num**2

In [ ]:
def cubo(num):
  return num**3

In [ ]:
def pares(num): #num = 2/2 = 1 == 0
  return num%2==0

In [ ]:
def impares(num):
  return num%2!=0

In [ ]:
numCuadrado = list(map(cuadrado, numeros))
numXDos = list( map(lambda num: num*2, numeros) )
print("Elevar al cuadradola lista: ",numCuadrado, numXDos )

Elevar al cuadradola lista:  [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [ ]:
numCubo = list( map(cubo, numeros) )
print(numCubo)

[125, 64, 343, 512, -64, -729]

In [ ]:
#usando filter dejamos solo los pares
pares = list( filter(pares, numeros) )
print(pares)

[4, 8, -4]

In [ ]:
impares = list( filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [ ]:
#conversor de celcius a F
def cf(c):
  return c*9/5+32

In [ ]:
c = float(input("Grados C: "))
print("G. C a F", cf(c))

Grados C: 27
G. C a F 80.6

In [ ]:
def cf(c):
  return c*9/5+32

In [ ]:
c = lambda c: c*9/5+32
cc = int(input("Grados Celcius: "))
print(c(cc))

Grados Celcius: 27
80.6

In [ ]:
gradosc = [27, 30, 35,40, 45]
grados = lambda c: c*1.8 +32
f = list(map(grados, gradosc))
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

In [ ]:
gradosF = [80.6, 86.0, 95.0, 104.0, 113.0]
from math import ceil
gradosc = lambda f: ceil((f-32)*5/9)
c = list(map(gradosc, gradosF))
print(c)

[27, 30, 35, 40, 45]

In [ ]:
#Hacer algoritmo para convertir de celcius a kelvin y viceversa

In [ ]:
gradosC = [27, 30, 35, 40, 45]
gradosK = lambda k: k+273.15
k = list(map(gradosK, gradosC))
print(k)

[300.15, 303.15, 308.15, 313.15, 318.15]

In [ ]:
gradosK = [300.15, 303.15, 308.15, 313.15, 318.15]
gradosC = lambda c:int(c-273.15) 
c = list(map(gradosC, gradosK))
print(c)

[27, 30, 35, 40, 45]

In [ ]:
gradosK = lambda k: k+273.15
kelvin = int(input("Grados Celcius: "))
print(gradosK(kelvin))

Grados Celcius: 27
300.15

In [ ]:
de = int(input("de: "))
a = int(input("a: "))
cantidad = float(input("Cantidad: "))

print( valores[de], "a ", valores[a], "es: ", convertir(de, a, cantidad))

de: 6
a: 2
Cantidad: 10
0.98 a  7.71 es:  78.6734693877551

In [ ]:
gradosC = lambda c: c-273.15
celcius = float(input("Grados Kelvin: "))
print(gradosC(celcius))

Grados Kelvin: 300.15
27.0

In [ ]:
divisas = ["Seleccione una divisa: ", "dolar", "quetzal", "lempira", "cordoba", "pesosCR", "ColonSV", "yanes","solesP"]
valores = [0,1, 7.71, 24.51, 35.27, 604.04, 0.98, 8.75, 114.13, 3.84]

In [53]:

con = int(input("Ingrese seleccion: ")) 
if(con == 0 ):
     i = 0
while (i <= 9):
  print( i,"- ", nombresC[con][i], "\n")
  i+=1
  
datos()

Ingrese seleccion: 0
0 -  Dolar

1 -  ColonSv

2 -  Quetzal

3 -  Lempira

4 -  Cordoba

5 -  Colon(CR)

6 -  Euro

7 -  Peso(Mx)

8 -  Yen(Jp)

9 -  Real(Br)

de: 0
a: 1
Cantidad: 1
1.0 Dolar es:  8.75 ColonSv

In [7]:
print("Menu")
print("Seleccione una divisa")
print("dolar")
print("quetzal")
print("lempira")
print("cordoba")
print("pesoCR")
print("colonSv")
print("yanes")
print("solesP")

Menu
Seleccione una divisa
dolar
quetzal
lempira
cordoba
pesoCR
colonSv
yanes
solesP

In [ ]:
con = int(input("Ingrese seleccion: ")) 
if(con == 1 ):
     i = 0
while (i <= 9):
  print( i,"- ", nombresC[con][i], "\n")
  i+=1
  
de = int(input("de: "))
a = int(input("a: "))
cantidad = float(input("Cantidad: "))

print( cantidad," ", nombresC[con][de], "a ", nombresC[con][a], "es: ", convertir(de, a, cantidad,con))

In [9]:
unidadesC = [
    [1.00,8.75,7.77, 24.03,34.8,611.10,0.82,19.93,105.00,5.39],                                               #monedas //0
    [1.0, 100.0,39.37,3.28,0.001,1.093613,0.000621,0.836,0.0001,1.000],                                       #longitud //1
    [1.0,16.00,0.453592,4.535924,453.5924,45.35924,4535.924,45359.24,453592.4,0.0005],                        #masa //2
    [1.0,0.68,7.629395,8.0,976.5625,0.953674,0.008,0.001,0.000008,0.000001],                                  #almacenamiento //3
    [1.0,60.0,3600.0,3600000.0,3600000000.0,0.041667,0.005952,0.000114,1.14155e-5,1.14155e-6],                #tiempo //4
    [1.0,33.8,274.15],                                                                                        #temperatura //5
    [1.0,0.333333,0.166667,0.0200833,0.005208,0.001302,0.004929,4.928922,4.928922,0.000005],                  #volumen //6
    [1.0,0.111111,0.000000035870064,144.0,0.00000009290304,0.000009,0.092903,929.0304,92903.04,0.000024],     #area //7
]

In [10]:
nombresC = [
    ['Dolar', "ColonSv", "Quetzal", "Lempira", "Cordoba", "Colon(CR)", "Euro",                  #monedas//0
     "Peso(Mx)", "Yen(Jp)", "Real(Br)"],                                                        
    ["Metro", "Centimetro", "Pulgada", "Pie", "Kilonetro", "Yarda", "Milla",                     #longitud//1
     "Vara", "Hectarea", "Milimetro"],
    ["Libra", "Onza", "Kilogramo", "Hectogramo", "Gramo", "Decagramo", "Decigramo",              #masa//2
     "Centigramo", "Miligramo", "Tonelada Corta(USA)"],
    ["Megabytes", "Diskettes", "Mebibits", "bits", "Kibibytes", "Mebibytes",                     #almacenamiento//3
     "Gigabits", "Gigabytes", "Terabits", "Terabytes"],
    ["Hora", "Minutos", "Segundos", "Milisegundos", "Microsegundos", "Días",                     #tiempo//4
     "Semana", "Años", "Decada", "Siglo"],
    ["Celsius", "Fahrenheit", "Kelvin"],                                                         #temperatura//5
    ["Cucharaditas", "Cuchardas", "Onzas Líquidas", "Tazas", "Cuartos de Galón",                 #volumen//6
     "Galones", "Litros", "Mililitros", "Centímetros Cúbicos", "Metros Cúbicos"],                #area//7
    ["Pies Cuadrados", "Yardas Cuadradas", "Milla Cuadradas", "Pulgadas Cuadradas",
     "Kilómetros Cuadradas", "Hectáreas", "Metros Cuadrados", "Centímetros Cuadrados",
     "Milímetros Cuadrados", "Acres"]
]

In [6]:
def convertir(de, a, cantidad, u):
  return unidadesC[u][a] / unidadesC[u][de] * cantidad

In [51]:
def datos ():
 de = int(input("de: ")) 
 a = int(input("a: "))
 cantidad = float(input("Cantidad: "))
 return print(cantidad, nombresC[con][de],'es: ', convertir(de,a,cantidad,con), nombresC[con][a])

In [37]:
con = int(input("Ingrese seleccion: ")) 
if(con == 1 ):
     i = 0
while (i <= 9):
  print( i,"- ", nombresC[con][i], "\n")
  i+=1
  
datos()

Ingrese seleccion: 1
0 -  Metro

1 -  Centimetro

2 -  Pulgada

3 -  Pie

4 -  Kilonetro

5 -  Yarda

6 -  Milla

7 -  Vara

8 -  Hectarea

9 -  Milimetro

de: 0
a: 1
Cantidad: 10

In [11]:
print("Seleccione que tipo de conversor")
print("0- Monedas")
print("1- Longitud")
print("2- Masa")
print("3- Almacenamiento")
print("4- Tiempo")
print("5- Temperatura")
print("6- Volumen")
print("7- Area")

Seleccione que tipo de conversor
0- Monedas
1- Longitud
2- Masa
3- Almacenamiento
4- Tiempo
5- Temperatura
6- Volumen
7- Area

In [55]:
def menu(i, con):
  while(i<=9):
    print(i, "- ",nombresC[con][i],"\n")
    i+=1

In [57]:
i = 0
con = int(input("Ingrese seleccion: "))
if con==0:
  menu(i,con)
  datos()

elif con==1:
  menu(i,con)
  datos()

elif con==2:
  menu(i,con)  
  datos()

elif con==3:
  menu(i,con)
  datos()

elif con==4:
  menu(i,con)
  datos()

elif con==6:
  menu(i,con)
  datos()

elif con==7:
  menu(i,con)
  datos()

Ingrese seleccion: 0
0 -  Dolar

1 -  ColonSv

2 -  Quetzal

3 -  Lempira

4 -  Cordoba

5 -  Colon(CR)

6 -  Euro

7 -  Peso(Mx)

8 -  Yen(Jp)

9 -  Real(Br)

de: 0
a: 6
Cantidad: 45
45.0 Dolar es:  36.9 Euro

In [21]:

datos()

print(cantidad," ", nombresC[con][de], "a ", nombresC[con][a],"es: ",convertir(de,a,cantidad,con))

de: 5
a: 2
Cantidad: 22
200.0   Metro a  Pie es:  656.0