<a href="https://colab.research.google.com/github/wilsongutierrez-01/ProgramacionPython/blob/main/PracticasCI_Progra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvenidos a Porgramacion Computacional III")

Hola Mundo Bienvenidos a Porgramacion Computacional III

In [ ]:
print("Genesis Hernandez")

Genesis Hernandez

In [ ]:
nombre = "Genesis Hernandez"
print("Hola", nombre , nombre[5], type(nombre))

nombre = 19
print("Tu edad es: ", type(nombre))

Hola Genesis Hernandez i <class 'str'>
Tu edad es:  <class 'int'>

In [ ]:
Programacion = True
diseno = False
print("Te gusta Progra", Programacion, "Te gusta diseño", diseno, type(Programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [ ]:
edad = int(input("Dime tu edad: "))
if edad>=19: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes resposabilidades...")
else:
   print("Eres libre")

Dime tu edad: 19
Eres un adulto, tienes resposabilidades...

In [ ]:
def sumaDosNumeros(num1, num2):
   resp= num1 + num2 
   return resp
print( "La suma: ", sumaDosNumeros(2,5))

La suma:  7

In [ ]:
#funciones anonimas...
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [ ]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [ ]:
def cuadrado(num):
  return num**2

In [ ]:
def cubo(num):
  return num**3

In [ ]:
def pares(num): #num = 2/2 = 1 ==0
  return num%2==0

In [ ]:
def impares(num): 
  return num%2!=0

In [ ]:
numCuadrado = list (map(cuadrado, numeros))
numXDos = list(map(lambda num: num*2, numeros))
print("Elevar al cuadrado lista: ", numCuadrado,numeros)

Elevar al cuadrado lista:  [25, 16, 49, 64, 16, 81] [5, 4, 7, 8, -4, -9]

In [ ]:
numCubo = list(map(cubo,numeros) )
print (numCubo)

[125, 64, 343, 512, -64, -729]

In [ ]:
#usando filter dejamos solo los pares
pares = list(filter(pares, numeros))
print(pares)

[4, 8, -4]

In [ ]:
impares = list (filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [ ]:
#conversor de celsius a f
def cf(c):
  return c*9/5+32

In [ ]:
c = float(input("Grados C: "))
print( "G. C a F", cf(c))

Grados C: 27
G. C a F 80.6

In [ ]:
celsius = lambda c: c*9/5 +32
c = int(input("Grados Celsius A convertir: "))

print( celsius(c) )

Grados Celsius A convertir: 27
80.6

In [ ]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 + 32
f = list(map(grados,gradosc) )
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

In [ ]:
farenheit = lambda f: c*9/5 +32
f = int(input("Grados Farenheit A convertir: "))

print(farenheit(f))

Grados Farenheit A convertir: 27
80.6

In [ ]:
gradosf = [80.0,86.0,95.0,104.0,113.0]
grados = lambda f: (f-32)*5/9
c = list(map(grados,gradosf))

print(c)

[26.666666666666668, 30.0, 35.0, 40.0, 45.0]

In [ ]:
#Hacer algoritmo para convertir de celsius a kelvin y viceversa

In [ ]:
gradosK = [300.0, 303.0, 308.0, 313.0,218.0]
gradosC= lambda c:(c-273.15)
c = list(map(gradosC, gradosK))
print(c)

[26.850000000000023, 29.850000000000023, 34.85000000000002, 39.85000000000002, -55.14999999999998]

In [ ]:
gradosC = [26,29,34,-55]
gradosK = lambda k: k+273.15
k = list(map(gradosK,gradosC))
print(k)

[299.15, 302.15, 307.15, 218.14999999999998]

In [ ]:
gradosK = lambda k: k+273.15
kelvin = int(input("Grados Celsius: "))
print(gradosK(kelvin))

Grados Celsius: 10
283.15

In [ ]:
gradosC = lambda c: c-273.15
celsius = float(input("Grados kelvin: "))
print(gradosC(celsius))

Grados kelvin: 340.15
67.0

In [ ]:
numeros = [5,7,9,6,8,7,3] #, se declara y usa con corchetes

In [ ]:
print(" Lista original ", " Buscando: ", numeros[numeros.index(3)], numeros[0] )

 Lista original   Buscando:  3 5

In [ ]:
numeros[0] = 4
print("Nuevo valor: ", numeros[0])

Nuevo valor:  4

In [ ]:
edades = (2,5,12,18,65,100) #Una tupla es inmutable, se declara con parentesis
print( "Las edades: ", edades, edades[0] )

Las edades:  (2, 5, 12, 18, 65, 100) 2

In [ ]:
#edades[0] = 0 #No puede cambiar su valor, y se usa con corchetes
print( "Nuevo Valor", edades[0] )

Nuevo Valor 2

In [ ]:
print("Edades: ", edades, " Filtrar solo mayores de edad: ", tuple(filter(lambda num: num>=18, edades)) )

Edades:  (2, 5, 12, 18, 65, 100)  Filtrar solo mayores de edad:  (18, 65, 100)

In [ ]:
buscando = int(input("Valor: "))
print("Edades: ", edades, "Buscando el numero: ", buscando, "esta en la posicion: ", edades.index(buscando) )

Valor: 5
Edades:  (2, 5, 12, 18, 65, 100) Buscando el numero:  5 esta en la posicion:  1

In [ ]:
notas = [5,4,10,7.8,9]
print("Mis notas: ", notas, "Notas sobresalientes: ", list(filter(lambda n: n>=9, notas)) )

Mis notas:  [5, 4, 10, 7.8, 9] Notas sobresalientes:  [10, 9]

In [ ]:
notasCiclo =[
    [5,6,6],
    [8,7,10],
    [10,10,10]
]
print( "Mis Notas", notasCiclo, "C1: ", notasCiclo[0], "C2: ", notasCiclo[1], "C3: ", notasCiclo[2], "PC1: ", notasCiclo[0][2] )

Mis Notas [[5, 6, 6], [8, 7, 10], [10, 10, 10]] C1:  [5, 6, 6] C2:  [8, 7, 10] C3:  [10, 10, 10] PC1:  6

In [ ]:
materias = [
    [ #progra
     [5,6,[10,8]],#c1
     [5,7,8],#c2
     [6,7,6] #c3
    ],
     [ #Diseño
      [10,9,10], #c1
      [10,10,8], #c2
      [10,10,10] #c3
    ],
    [ #Redes
     [8,7,8], #c1
     [7,9.23,9], #c2
     [8,7,9] #c3
     ]
]
print("Progra: C1 - P", (materias[0][0][2][0] + materias[0][0][2][1])/2, ";Redes C2, lab2: ", materias[2][1][1] )

Progra: C1 - P 9.0 ;Redes C2, lab2:  9.23

In [ ]:
misMaterias = {} #Los diccionarios (json) se definen con llaves y se usan con corchetes
misNotas = {
    "Progra I":{
        "CI": {
            "Lab1": 5,
            "Lab2": 6,
            "Parcial": [10,8]
      },
      "CII":{
          "Lab1": 5,
          "Lab2": 7,
          "Parcial": 8
      },
      "CIII":{
          "Lab1": 6,
          "Lab": 7,
          "Parcial":6
      }
},
"Diseño":{
    "CI": {
        "Lab1": 10,
        "Lab2": 9,
        "Parcial": 10
       },
       "CII":{
           "Lab1": 10,
           "Lab2": 10,
           "Parcial": 8
       },
       "CIII":{
           "Lab1":10,
           "Lab2":10,
           "Parcial":10
       }
    }
}
print( misNotas["Progra I"]["CI"]["Parcial"], misNotas["Diseño"]["CII"]["Lab2"] )

[10, 8] 10